<div class="bg-light py-5">
    <div class="container col-md-8">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Títulos mais votados</h2>
                <p class="font-italic text-muted">Veja alguns de nossos títulos mais votados!</p>
            </div>
        </div>
        <div class="row text-center">          
            <app-movie-card *ngFor="let movie of movies | slice:0:8" [movie]="movie"></app-movie-card>
        </div>
    </div>
</div>