<app-header></app-header>

<!-- Content -->
<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Nossa biblioteca</h2>
        <p class="font-italic text-muted">Veja alguns de nossos títulos disponíveis</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="card movie_card">
          <img src="https://www.joblo.com/assets/images/joblo/posters/2019/02/Dyow9RgX4AElAGN.jpg" class="card-img-top"/>
          <div class="card-body">
            <a href="#">
              <i class="fa fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Assistir"></i>
            </a>
            <h5 class="card-title">Toy Story 4</h5>
            <span class="movie_info float-left">2019</span>
            <span class="movie_info star_float"><i class="fa fa-star"></i> 9 / 10</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content -->

<app-footer></app-footer>