<div class="col-xl-3 col-sm-6 mb-5">
    <div class="card movie_card">
      <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" class="card-img-top"/>
      <div class="card-body">
        <a href="#">
          <i class="fa fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Assistir"></i>
        </a>
        <h5 class="card-title">{{movie.title}}</h5>
        <span class="movie_info float-left">{{movie.release_date | date:'YYYY'}}</span>
        <span class="movie_info star_float"><i class="fa fa-star star-average"></i> {{movie.vote_average}} / 10</span>
      </div>
    </div>
  </div>