<section class="wrapper">
    <div class="row">
        <div class="col-sm-8">
            <a href="https://www.google.com" target="_blank">
                <div class="card text-white card-has-bg click-col"
                    style="background-image:url(https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/{{movie.backdrop_path}});">
                    <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">{{movie.release_date  | date:'longDate'}}</small>
                            <h4 class="card-title mt-0 "><a class="text-white" herf="#">{{movie.title}}</a></h4>
                            <small><i class="far fa-clock"></i>{{movie.tagline}}</small>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                                <div class="media-body">
                                    <h6 class="my-0 text-white d-block">Genres</h6>
                                    <small>{{printGenresName(movie.genres)}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">Mailchimp</h6> <span>1 days ago</span>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="">
                        <h3>Senior Product<br>Designer-Singapore</h3>
                        <span>{{movie.overview}}</span>
                    </div>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="getMovieAverage()" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="mt-3"> <span class="weigth-label-card">General User Rating: <span class="label-card"> Users rated the movie {{movie.vote_average}} out of 10.</span></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-vote-average-circle [average]="movie.vote_average"></app-vote-average-circle> -->